
#headerandfooter {
    color: white;
    border-top: 1px solid rgb(19, 168, 161);
    background-color: rgb(9, 94, 9);
    background: linear-gradient(20deg, rgb(7, 117, 7), rgb(13, 189, 174), rgb(3, 29, 100));
    /*Change colors as you want*/
    background-size: 1000% 1000% !important;
    -webkit-animation: changeColors 20s ease infinite;
    -moz-animation: changeColors 20s ease infinite;
    -o-animation: changeColors 20s ease infinite;
    animation: changeColors 20s ease infinite;
}

@-webkit-keyframes changeColors {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.card.border-primary {
    top: 100px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 7px;
    border: 2px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
}

.card-header.p-0 {
    border-radius: 7px 7px 0 0;
}

.bg-info.text-white.text-center.py-2 {
    border-radius: 5px 5px 0 0;
}

.card-body.p-3 {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 7px 7px;
}

.container1 {
    position: relative;
    padding: 40px;
    border-radius: 10px;
    background-color: gray;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    bottom: 0;
    top: 100px;
}

.text-center input {
    margin-top: 10px;
}

/*- Navbar -*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 4;
}

.navbar.navbar-dark {
      /*background-color: #2F2F2F;*/
    background-color: rgba(104, 103, 103, 0.486);
}

#logo {
    height: 50px;
}

#logoletters {
    width: 150px;
    margin-left: 30px;
}

.navbar-brand {
    padding: 0;
}

/*Sidenav*/

.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    border-right: 1px solid #ddd;
    background-color: rgba(37, 36, 36, 0.733);
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    .sidenav {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .sidenav {
        width: 30%;
    }
}

.close-nav {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    top: 7px;
    left: 15px;
    padding: 0;
    transition: ease-in .15s;
    color: white;
}

.close-nav:hover {
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.sidenav a {
    color: rgb(180, 180, 180);
    position: relative;
    padding-left: 0;
    display: block;
    left: 0;
    width: 100%;
    padding: 15px 5px 15px 20px;
    transition: ease-in 0.3s
}

.sidenav a:hover {
    text-decoration: none;
    background-color: #0D9EFF;
    color: black
}

.sidenav-show {
    transform: translateX(0);
}

.sidenav-show::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #0D9EFF;
    border-color: rgb(32, 32, 32);
}

.sidenav-toggler:focus,
.sidenav-toggler:hover {
    text-decoration: none;
}

.sidenav-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.sidenav-header {
    background-color: #2b2b2b;
    height: 60px;
}

.sidenav-heading {
    position: absolute;
    right: 20px;
    font-size: 35px;
    color: white;
}

.box5 ul li a:hover {
    text-decoration: none;
}

.dropdown-menu {
    background-color: rgba(20, 177, 177, 0.938);
    width: 100%;
    margin-right: -10px;
}

hr.my-4 {
    margin: 0 !important;
    background-color: rgb(88, 88, 88);
}

footer.text-muted {
    border-top: 1px solid #21b2d6;
    margin-top: 40px;
    background-color: rgb(206, 206, 206);
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    background-color: rgba(15, 153, 153, 0.938);
}

.activesb {
    text-decoration: none;
    background-color: #08656b;
}
footer{
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}