doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='../graduation-cap-solid.svg')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' crossorigin='anonymous')
  title Contacto-LearNet
  // Bootstrap core CSS
  link(href='../static/forum/bootstrap.css' rel='stylesheet')
  // Custom styles for this template
  link(href='../static/cover/cover.css' rel='stylesheet')
.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-center
  header.masthead.mb-auto
    .inner
      h3.masthead-brand(href='cover.html')
        img.img-fluid.pull-xs-left(style='max-width: 160px; ' src='../static/img/LogoLettersWhite.png' alt='...')
      nav.nav.nav-masthead.justify-content-center
        a.nav-link(href='Inicio') Inicio
        a.nav-link(href='#') Nosotros
        a.nav-link.active(href='#') Contacto
  .jumbotron
    h1.display-4 Contactanos!
    p.lead
      | Quieres comunicarte con el equipo de LearNet&reg;? Aqui te dejamos nuestros datos de contacto.
    hr.my-4
    p.p_contactinfo Correo Electronico: learnet2019@gmail.com
    p.p_contactinfo Telefono: +57 301-385 6509 
    // <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    hr.my-4
    h3.h3 Redes sociales
    .col-md-12
      ul.social-network.social-circle
        li
          a.icoGitHub(href='https://github.com/learnet2018team/learnet2018' title='GitHub' target="blank_")
            i.fab.fa-github
        li
          a.icoFacebook(href='https://www.facebook.com/LearNet-230531154283168/' title='Facebook' target="blank_")
            i.fab.fa-facebook-f
        li
          a.icoTwitter(href='https://twitter.com/_LearNet' title='Twitter' target="blank_")
            i.fab.fa-twitter
        li
          a.icoGoogle(href='https://plus.google.com/u/3/116885909944570313303' title='Google +' target="blank_")
            i.fab.fa-google-plus-g
        li
          a.icoLinkedin(href='https://www.linkedin.com/in/learnet-47a99b16b/' title='Linkedin' target="blank_")
            i.fab.fa-linkedin-in
  footer.mastfoot.mt-auto
    .inner
      p
        | LearNet - 2018. Tienes dudas? ve a nuestro 
        a(href='ForumMenu') Foro
        | , o 
        a(href='UserRegister') Registrate ahora
        |  para comenzar a usar LearNet.
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='../static/forum/validarCaracteres.js')
script.
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='../static/forum/popper.js')
script(src='../static/forum/bootstrap.js')