doctype html
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
    title Hover Effect Style
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='../static/animation1.css')
// ---------------- Hover Effect Style : Demo - 1 -------------
.container
    h3.text-center Hover Effect Style : Demo - 1
    .row.mt-40
        .col-md-4.col-sm-6
            .box1
                img(src='http://bestjquery.com/tutorial/hover-effect/demo206/images/img-1.jpg' alt='')
                h3.title Williamson
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
        .col-md-4.col-sm-6
            .box1
                img.img-thumbn(src='http://bestjquery.com/tutorial/hover-effect/demo206/images/img-2.jpg' alt='')
                h3.title Kristiana
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
        .col-md-4.col-sm-6
            .box1
                img(src='http://bestjquery.com/tutorial/hover-effect/demo206/images/img-3.jpg' alt='')
                h3.title Kristiana
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 2 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 2
    .row.mt-30
        .col-md-4.col-sm-6
            .box2
                img(src='http://bestjquery.com/tutorial/hover-effect/demo193/images/img-1.jpg')
                .box-content
                    .inner-content
                        h3.title Williamson
                        span.post Web Developer
                        ul.icon
                            li
                                a(href='#')
                                    i.fa.fa-search
                            li
                                a(href='#')
                                    i.fa.fa-link
        .col-md-4.col-sm-6
            .box2
                img(src='http://bestjquery.com/tutorial/hover-effect/demo193/images/img-2.jpg')
                .box-content
                    .inner-content
                        h3.title Kristiana
                        span.post Web Designer
                        ul.icon
                            li
                                a(href='#')
                                    i.fa.fa-search
                            li
                                a(href='#')
                                    i.fa.fa-link
        .col-md-4.col-sm-6
            .box2
                img(src='http://bestjquery.com/tutorial/hover-effect/demo193/images/img-3.jpg')
                .box-content
                    .inner-content
                        h3.title Kristiana
                        span.post Web Designer
                        ul.icon
                            li
                                a(href='#')
                                    i.fa.fa-search
                            li
                                a(href='#')
                                    i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 3 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 3
    .row.mt-30
        .col-md-4.col-sm-6
            .box3
                img(src='http://bestjquery.com/tutorial/hover-effect/demo169/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box3
                img(src='http://bestjquery.com/tutorial/hover-effect/demo169/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box3
                img(src='http://bestjquery.com/tutorial/hover-effect/demo169/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 4 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 4
    .row.mt-30
        .col-md-4.col-sm-6
            .box4
                img(src='http://bestjquery.com/tutorial/hover-effect/demo164/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box4
                img(src='http://bestjquery.com/tutorial/hover-effect/demo164/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box4
                img(src='http://bestjquery.com/tutorial/hover-effect/demo164/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 5 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 5
    .row.mt-30
        .col-md-4.col-sm-6
            .box5
                img(src='http://bestjquery.com/tutorial/hover-effect/demo160/images/img-1.jpg' alt='')
                ul.icon
                    li
                        a.fa.fa-search(href='#')
                    li
                        a.fa.fa-link(href='#')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
        .col-md-4.col-sm-6
            .box5
                img(src='http://bestjquery.com/tutorial/hover-effect/demo160/images/img-2.jpg' alt='')
                ul.icon
                    li
                        a.fa.fa-search(href='#')
                    li
                        a.fa.fa-link(href='#')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
        .col-md-4.col-sm-6
            .box5
                img(src='http://bestjquery.com/tutorial/hover-effect/demo160/images/img-3.jpg' alt='')
                ul.icon
                    li
                        a.fa.fa-search(href='#')
                    li
                        a.fa.fa-link(href='#')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
// ---------------- Hover Effect Style : Demo - 6 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 6
    .row.mt-30
        .col-md-4.col-sm-6
            .box6
                img(src='http://bestjquery.com/tutorial/hover-effect/demo161/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box6
                img(src='http://bestjquery.com/tutorial/hover-effect/demo161/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box6
                img(src='http://bestjquery.com/tutorial/hover-effect/demo161/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 7 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 7
    .row.mt-30
        .col-md-4.col-sm-6
            .box7
                img(src='http://bestjquery.com/tutorial/hover-effect/demo156/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box7
                img(src='http://bestjquery.com/tutorial/hover-effect/demo156/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box7
                img(src='http://bestjquery.com/tutorial/hover-effect/demo156/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 8 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 8
    .row.mt-30
        .col-md-4.col-sm-6
            .box8
                img(src='http://bestjquery.com/tutorial/hover-effect/demo148/images/img-1.jpg')
                h3.title Williamson
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box8
                img(src='http://bestjquery.com/tutorial/hover-effect/demo148/images/img-2.jpg')
                h3.title Kristiana
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box8
                img(src='http://bestjquery.com/tutorial/hover-effect/demo148/images/img-3.jpg')
                h3.title Kristiana
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 9 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 9
    .row.mt-30
        .col-md-4.col-sm-6
            .box9
                img(src='http://bestjquery.com/tutorial/hover-effect/demo147/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box9
                img(src='http://bestjquery.com/tutorial/hover-effect/demo147/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box9
                img(src='http://bestjquery.com/tutorial/hover-effect/demo147/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 10 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 10
    .row.mt-30
        .col-md-4.col-sm-6
            .box10
                img(src='http://bestjquery.com/tutorial/hover-effect/demo146/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box10
                img(src='http://bestjquery.com/tutorial/hover-effect/demo146/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box10
                img(src='http://bestjquery.com/tutorial/hover-effect/demo146/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 11 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 11
    .row.mt-30
        .col-md-4.col-sm-6
            .box11
                img(src='http://bestjquery.com/tutorial/hover-effect/demo136/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box11
                img(src='http://bestjquery.com/tutorial/hover-effect/demo136/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
        .col-md-4.col-sm-6
            .box11
                img(src='http://bestjquery.com/tutorial/hover-effect/demo136/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a.fa.fa-search(href='#')
                        li
                            a.fa.fa-link(href='#')
// ---------------- Hover Effect Style : Demo - 12 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 12
    .row.mt-30
        .col-md-4.col-sm-6
            .box12
                img(src='http://bestjquery.com/tutorial/hover-effect/demo133/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box12
                img(src='http://bestjquery.com/tutorial/hover-effect/demo133/images/img-2.jpg')
                .box-content
                    h3.title Williamson
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box12
                img(src='http://bestjquery.com/tutorial/hover-effect/demo133/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 13 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 13
    .row.mt-30
        .col-md-4.col-sm-6
            .box13
                img(src='http://bestjquery.com/tutorial/hover-effect/demo125/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    span.post Web Designer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
        .col-md-4.col-sm-6
            .box13
                img(src='http://bestjquery.com/tutorial/hover-effect/demo125/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Developer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
        .col-md-4.col-sm-6
            .box13
                img(src='http://bestjquery.com/tutorial/hover-effect/demo125/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Developer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
// ---------------- Hover Effect Style : Demo - 14 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 14
    .row.mt-30
        .col-md-4.col-sm-6
            .box14
                img(src='http://bestjquery.com/tutorial/hover-effect/demo122/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box14
                img(src='http://bestjquery.com/tutorial/hover-effect/demo122/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-4.col-sm-6
            .box14
                img(src='http://bestjquery.com/tutorial/hover-effect/demo122/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 15 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 15
    .row.mt-30
        .col-md-3.col-sm-6
            .box15
                img(src='http://bestjquery.com/tutorial/hover-effect/demo119/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-3.col-sm-6
            .box15
                img(src='http://bestjquery.com/tutorial/hover-effect/demo119/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-3.col-sm-6
            .box15
                img(src='http://bestjquery.com/tutorial/hover-effect/demo119/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
        .col-md-3.col-sm-6
            .box15
                img(src='http://bestjquery.com/tutorial/hover-effect/demo119/images/img-4.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 16 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 16
    .row.mt-30
        .col-md-4.col-sm-6
            .box16
                img(src='http://bestjquery.com/tutorial/hover-effect/demo118/images/img-1.jpg')
                .box-content
                    h3.title Williamson
                    span.post Web Developer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-instagram
                        li
                            a(href='#')
                                i.fa.fa-google-plus
        .col-md-4.col-sm-6
            .box16
                img(src='http://bestjquery.com/tutorial/hover-effect/demo118/images/img-2.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-instagram
                        li
                            a(href='#')
                                i.fa.fa-google-plus
        .col-md-4.col-sm-6
            .box16
                img(src='http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg')
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
                    ul.social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-instagram
                        li
                            a(href='#')
                                i.fa.fa-google-plus
// ---------------- Hover Effect Style : Demo - 17 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 17
    .row.mt-30
        .col-md-4.col-sm-6
            .box17
                img(src='http://bestjquery.com/tutorial/hover-effect/demo120/images/img-1.jpg' alt='')
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
                .box-content
                    h3.title Williamson
                    span.post Web Developer
        .col-md-4.col-sm-6
            .box17
                img(src='http://bestjquery.com/tutorial/hover-effect/demo120/images/img-2.jpg' alt='')
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
        .col-md-4.col-sm-6
            .box17
                img(src='http://bestjquery.com/tutorial/hover-effect/demo120/images/img-3.jpg' alt='')
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-search
                    li
                        a(href='#')
                            i.fa.fa-link
                .box-content
                    h3.title Kristiana
                    span.post Web Designer
// ---------------- Hover Effect Style : Demo - 18 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 18
    .row.mt-30
        .col-md-4.col-sm-6
            .box18
                img(src='http://bestjquery.com/tutorial/hover-effect/demo105/images/img-1.jpg' alt='')
                .box-content
                    h3.title Williamson
                    span.post Web designer
        .col-md-4.col-sm-6
            .box18
                img(src='http://bestjquery.com/tutorial/hover-effect/demo105/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web developer
        .col-md-4.col-sm-6
            .box18
                img(src='http://bestjquery.com/tutorial/hover-effect/demo105/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web developer
// ---------------- Hover Effect Style : Demo - 19 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 19
    .row.mt-30
        .col-md-4.col-sm-6
            .box19
                img(src='http://bestjquery.com/tutorial/hover-effect/demo102/images/img-1.jpg' alt='')
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
                    h3.title willimson
        .col-md-4.col-sm-6
            .box19
                img(src='http://bestjquery.com/tutorial/hover-effect/demo102/images/img-2.jpg' alt='')
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
                    h3.title Kristiana
        .col-md-4.col-sm-6
            .box19
                img(src='http://bestjquery.com/tutorial/hover-effect/demo102/images/img-3.jpg' alt='')
                .box-content
                    ul.icon
                        li
                            a(href='#')
                                i.fa.fa-search
                        li
                            a(href='#')
                                i.fa.fa-link
                    h3.title Kristiana
// ---------------- Hover Effect Style : Demo - 20 -------------
.container.mt-40
    h3.text-center Hover Effect Style : Demo - 20
    .row.mt-30
        .col-md-4.col-sm-6
            .box20
                img(src='http://bestjquery.com/tutorial/hover-effect/demo99/images/img-1.jpg' alt='')
                .box-content
                    h3.title willimson
                    span.post web designer
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-plus
                    li
                        a(href='#')
                            i.fa.fa-link
        .col-md-4.col-sm-6
            .box20
                img(src='http://bestjquery.com/tutorial/hover-effect/demo99/images/img-2.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web developer
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-plus
                    li
                        a(href='#')
                            i.fa.fa-link
        .col-md-4.col-sm-6
            .box20
                img(src='http://bestjquery.com/tutorial/hover-effect/demo99/images/img-3.jpg' alt='')
                .box-content
                    h3.title Kristiana
                    span.post Web developer
                ul.icon
                    li
                        a(href='#')
                            i.fa.fa-plus
                    li
                        a(href='#')
                            i.fa.fa-link
// ---------------- Hover Effect Style : Demo - 21 -------------
.container.mt-40.mb-30
    h3.text-center Hover Effect Style : Demo - 21
    .row.mt-30
        .col-md-4.col-sm-6
            .box21
                img(src='http://bestjquery.com/tutorial/hover-effect/demo95/images/img-1.jpg' alt='')
                .box-content
                    h4.title willimson
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.
                    a.read-more(href='#') read more
        .col-md-4.col-sm-6
            .box21
                img(src='http://bestjquery.com/tutorial/hover-effect/demo95/images/img-2.jpg' alt='')
                .box-content
                    h4.title Kristiana
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.
                    a.read-more(href='#') read more
        .col-md-4.col-sm-6
            .box21
                img(src='http://bestjquery.com/tutorial/hover-effect/demo95/images/img-3.jpg' alt='')
                .box-content
                    h4.title Kristiana
                    p.description
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.
                    a.read-more(href='#') read more
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
